---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>

    <h2>Research Publications</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://arxiv.org/abs/2310.12357"
            image="https://upload.wikimedia.org/wikipedia/commons/7/7a/ArXiv_logo_2022.png"
            title="Large Language Models for Code Analysis: Do LLMs Really Do Their Job?"
            body={`Large language models (LLMs) have demonstrated significant potential in the 
            realm of natural language understanding and programming code processing tasks. 
            Their capacity to comprehend and generate human-like code has spurred research 
            into harnessing LLMs for code analysis purposes. However, the existing body of 
            literature falls short in delivering a systematic evaluation and assessment of 
            LLMs' effectiveness in code analysis, particularly in the context of obfuscated 
            code.
            This paper seeks to bridge this gap by offering a comprehensive evaluation of LLMs' 
            capabilities in performing code analysis tasks. Additionally, it presents real-world 
            case studies that employ LLMs for code analysis. Our findings indicate that LLMs can 
            indeed serve as valuable tools for automating code analysis, albeit with certain 
            limitations. Through meticulous exploration, this research contributes to a deeper 
            understanding of the potential and constraints associated with utilizing LLMs in code 
            analysis, paving the way for enhanced applications in this critical domain.`}
        />
    </ul>

    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://medium.com/@ssrivastav_46455/unveiling-the-mathematics-behind-transformer-models-shaurya-srivastav-2fe1e47d20f9"
            image="https://miro.medium.com/v2/resize:fit:1200/0*FSZ330S1hKorTBOn.png"
            title="Mathematics Behind Transformer Models | Views: 1.1K"
            body="Unravel the mathematical intricacies powering Transformer models, the driving force behind modern natural language processing breakthroughs."
        />
       <Card
            href="https://medium.com/@ssrivastav_46455/adversarial-attacks-on-nlp-models-guarding-against-trojan-threats-shaurya-srivastav-4c1966677d36"
            image="https://miro.medium.com/v2/resize:fit:1200/0*FSZ330S1hKorTBOn.png"
            title="Adversarial Attacks on NLP Models"
            body="Unlock the cryptic world of adversarial machine learning, where Trojan attacks secretly infiltrate AI NLP models, and discover the technical strategies to defend against these hidden threats."
        />
        <Card
            href="https://medium.com/@ssrivastav_46455/demystifying-common-data-structures-arrays-linked-lists-stacks-and-queues-part-i-148f0c4bb781"
            image="https://miro.medium.com/v2/resize:fit:1200/0*FSZ330S1hKorTBOn.png"
            title="Demystifying Common Data Structures: Arrays, Linked Lists, Stacks, and Queues (Part I)"
            body="Unlock the secrets of efficient coding by exploring common data structures through the delicious lens of cooking."
        />
    </ul>
   <!---- <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://www.youtube.com/"
            image="/youtube.png"
            title="Video 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://www.youtube.com/"
            image="/youtube.png"
            title="Video 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>----!>
</Layout>
