---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://medium.com/@ssrivastav_46455/unveiling-the-mathematics-behind-transformer-models-shaurya-srivastav-2fe1e47d20f9"
            image="https://media.licdn.com/dms/image/sync/D5627AQEwo-OLMF01bQ/articleshare-shrink_800/0/1694047028442?e=1695171600&v=beta&t=UchfcT5fucQyOkjHVlLN7O7MZNJge692DRVp6vU05F8"
            title="Mathematics Behind Transformer Models"
            body="Unravel the mathematical intricacies powering Transformer models, the driving force behind modern natural language processing breakthroughs."
        />
       <Card
            href="https://medium.com/@ssrivastav_46455/adversarial-attacks-on-nlp-models-guarding-against-trojan-threats-shaurya-srivastav-4c1966677d36"
            image="https://media.licdn.com/dms/image/sync/D5627AQEwo-OLMF01bQ/articleshare-shrink_800/0/1694047028442?e=1695171600&v=beta&t=UchfcT5fucQyOkjHVlLN7O7MZNJge692DRVp6vU05F8"
            title="Adversarial Attacks on NLP Models"
            body="Unlock the cryptic world of adversarial machine learning, where Trojan attacks secretly infiltrate AI NLP models, and discover the technical strategies to defend against these hidden threats."
        />
        <Card
            href="https://medium.com/@ssrivastav_46455/demystifying-common-data-structures-arrays-linked-lists-stacks-and-queues-part-i-148f0c4bb781"
            image="https://media.licdn.com/dms/image/sync/D5627AQEwo-OLMF01bQ/articleshare-shrink_800/0/1694047028442?e=1695171600&v=beta&t=UchfcT5fucQyOkjHVlLN7O7MZNJge692DRVp6vU05F8"
            title="Demystifying Common Data Structures: Arrays, Linked Lists, Stacks, and Queues (Part I)"
            body="Unlock the secrets of efficient coding by exploring common data structures through the delicious lens of cooking."
        />
    </ul>
   <!---- <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://www.youtube.com/"
            image="/youtube.png"
            title="Video 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://www.youtube.com/"
            image="/youtube.png"
            title="Video 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>----!>
</Layout>
