---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Works";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>

    <h2>Projects</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/Shaurya-Srivastav/Question-and-Answer-using-distilbert-base-uncased"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Question-and-Answer-using-distilbert-base-uncased"
            body="Unlock the power of QABert, a Question Answering model trained on SQuAD, to effortlessly answer questions from context."
        />
        <Card
            href="https://github.com/Shaurya-Srivastav/PriorArtSearchEngine"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Prior Art Search Enigine - Front End (Angular)"
            body="Repository contains the undelying angular code to build the front end of the search engine"
        />
        <Card
            href="https://github.com/Shaurya-Srivastav/Multidocument-LLM-Chat"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Mult-document LLM Chat"
            body="Unlock the power of conversation with your PDF documents - Chat with Multiple PDFs effortlessly using this Python application built on the Streamlit framework."
        />
        <Card
            href="https://github.com/Shaurya-Srivastav/Fine-Tuning-BERT-for-Sequence-Classification"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Fine-Tuning for Sequence Classification"
            body="Elevate your text classification game with ease - Fine-tune a BERT model for sequence classification using the Yelp review dataset, powered by this repository"
        />
        <Card
            href="https://github.com/Nekorra/Professor-Website/tree/main"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Professor Houmayoun Website"
            body="Dynamic website with built in search functions designed using Angular: https://houman.ece.ucdavis.edu/"
        />
         <Card
            href="https://github.com/Shaurya-Srivastav/Alertness-Detection-using-Yolov5"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Alertness-Detection-using-Yolov5"
            body="Unlock the power of real-time object detection with YOLOv5, a cutting-edge deep learning framework for precise and lightning-fast recognition of objects in images and video streams."
        />
        <Card
            href="https://github.com/Shaurya-Srivastav/Date-Planner"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Date Planner - Streamlit"
            body="Elevate your date nights with the ultimate culinary adventure - our Date Planner for Couples recommends the perfect restaurant for a romantic rendezvous in your chosen city."
        />
         <Card
            href="https://github.com/Shaurya-Srivastav/BillReader"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="AI Bill Assistant"
            body="Empower your bill management with AI precision - the AI Bill Assistant intelligently extracts and organizes bill details from images for effortless tracking and analysis."
        />

        <Card
            href="https://github.com/Shaurya-Srivastav/Juicy-Potato-Detection"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Juicy Potato Detection"
            body="Protect your system from potential Juicy Potato exploits with this Python script that keeps an eye on your processes."
        />

        <Card
            href="https://github.com/Shaurya-Srivastav/InterviewPrepChatbot-GPT3.5"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Job Interview Chatbot"
            body="Elevate your interview preparation with this AI-powered chatbot, offering personalized interview questions and feedback for a tailored interview experience."
        />
         <Card
            href="https://github.com/Shaurya-Srivastav/T20-Cricket-Team-Optimization"
            image="https://i.ytimg.com/vi/ptK9-CNms98/maxresdefault.jpg"
            title="Fantasy Cricket Team Selection using Genetic Algorithm"
            body="Craft your winning team on a budget with this Python script using genetic algorithms to select players based on performance and budget constraints."
        />
        
    </ul>


    <h2>My Tech Stack</h2>
    <p>
        Welcome to my tech toolbox, where I've curated a versatile set of skills 
        that form the backbone of my development journey. In the world of data, 
        I wield NumPy, TensorFlow, Matplotlib, Pandas, Scikit-learn, Hugging Face, 
        Cryptodome Libraries, Netifaces, and SparkSQL to decode complex datasets 
        and uncover insights. When it's time to bring data to life, I turn to Plotly 
        for captivating visualizations.
    </p>
    <p>
        Navigating the cloud landscape is my forte, with Google Cloud, Firebase, AWS, 
        and Netlify as my trusted companions. Specialized AI tools like FAISS and Axios 
        bolster my capabilities, while ElasticSearch, Kibana, and Logstash keep data 
        management and analysis in check.
    </p>
    <p>
        From web development to backend prowess, I seamlessly traverse frameworks like 
        Flask, Angular, React, Node.js, and Express.js. Database management is my 
        playground, covering MySQL, PostgreSQL, and MongoDB. I ensure smooth collaboration 
        with Git and GitHub, and I'm well-versed in containerization using Docker. My API 
        expertise spans RESTful and GraphQL interfaces, and I've mastered continuous 
        integration and deployment (CI/CD) pipelines with Jenkins and Travis CI.
    </p>
    <p>
        These skills aren't just tools; they're the means through which I transform concepts 
        into functional, user-centric digital experiences. Explore my portfolio to see how 
        this tech stack translates into real-world solutions.
    </p>
    </p>

    <h2>My Certifications</h2>
    <p>
    In my journey of professional growth, I've embraced the opportunity to attain certifications that reflect my passion for technology and my unwavering commitment to learning. I hold the IBM AI Engineering Professional Certificate, showcasing my proficiency in Deep Learning with TensorFlow, Deep Neural Networks with PyTorch, Deep Learning Essentials with Keras, Machine Learning with Apache Spark, and Machine Learning with Python.
    </p>
    <p>
    Beyond certifications, I've had the privilege of participating in real-world experiences that have enriched my skill set. Among these experiences, I was honored to be selected as one of just 187 students, chosen from a vast pool of 16,000 applicants, to attend Google Cloud NEXT'23 as a student innovator. This unique opportunity expanded my horizons across a spectrum of domains, including AI-ML Ops, Generative AI, Cloud Architecture, Data Proficiency, Application Development, DevOps Engineering, Productivity Enhancement, and the Fundamentals of Generative AI.
    </p>

    <a class="link" href=""><h1>LinkedIn</h1></a>
    <!------<h2>Contributions</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/"
            image="/GitHub.webp"
            title="Open-source 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/"
            image="/GitHub.webp"
            title="Open-source 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>-----!>
</Layout>
